<header>
  <!-- Inicio Cabeçalho -->
  <nav class="navbar navbar-expand-lg navbar-light mb-3" style="background:#FFFFFF;">
      <a class="navbar-brand" routerLink="dashboard"><img src="../../assets/img/logo2.png" width="247"></a>


      <div class="collapse navbar-collapse justify-content-sm-around" id="conteudoNavbarSuportado">


      </div>
      <div class="dropdown">
        <a class="btn btn-light dropdown-toggle"  role="button" id="dropdownMenuLink"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
           style="color: #333333; ">
            <img src="../../assets/img/d3cbc4eedb50fc75a8d0398a0defe70c.png"
                 width="40">
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" routerLink="perfil">Perfil</a>
            <a class="dropdown-item text-danger" routerLink="">Sair</a>
        </div>
    </div>
      <div class="dropdown">
          <a class="btn btn-light dropdown-toggle"  role="button" id="dropdownMenuLink"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
             style="color: #333333; ">
              <img src="../../assets/img/pngtree-avatar-icon-profile-icon-member-login-vector-isolated-png-image_1978396.jpg"
                   width="40">
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" routerLink="perfil">Perfil</a>
              <a class="dropdown-item text-danger" routerLink="">Sair</a>
          </div>
      </div>
  </nav>
