<body>
    <div class="backgroundFundo">
        <div class="container ">
        
            <div class="col-lg-12 fundo ">
                <div class="row">
                    <div class="col-lg-8 contPessoa">
                        <h4>Dados Pessoais</h4>
                        <hr>
                        <div class="row justify-content-end">
                            <button class="btn btn-warning mt-3 mr-5" *ngIf="this.mostrarEditar == false"
                                (click)="this.mostrarEditar = !this.mostrarEditar">Editar</button>
                        </div>
                        <div class="col-lg-12 m-2 ">
                            <div *ngIf="!mostrarEditar">
                                <div class="row m-2 ">
                                    <div class="col-lg-6">
                                        <span class="badge badge-dark textoDados">Nome: </span><span>
                                            &nbsp;{{this.pessoa.nome}}</span>
                                    </div>
                                    <div class="col-lg-6  ">
                                        <span class="badge badge-dark textoDados">Email: </span><span>
                                            &nbsp;{{this.pessoa.email}}</span>
                                    </div>
        
                                </div>
                                <div class="row align-self-end m-2">
                                    <div class="col-lg-6 mt-3 justify-contend-around">
                                        <span class="badge badge-dark textoDados">Data de Nascimento: </span>
                                        <span> &nbsp;{{this.pessoa.dataNascimento}}</span>
                                    </div>
                                    <div class="col-lg-6 mt-3">
                                        <span class="badge badge-dark textoDados">Telefone: </span>
                                        <span> &nbsp;{{this.pessoa.telefone}}</span>
                                    </div>
        
                                </div>
                            </div>
                            <div class="col-lg-12 mt-2" *ngIf="this.mostrarEditar">
                                <form [formGroup]="formulario" (ngSubmit)="editarUsuario()">
                                    <div class="form-group">
                                        <label for="">Nome</label>
                                        <input type="text" formControlName="nome" ngModel="{{this.pessoa.nome}}"
                                            class="form-control" value="{{this.pessoa.nome}}" name="" id=""
                                            aria-describedby="helpId" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Email</label>
                                        <input type="email" formControlName="email" ngModel="{{this.pessoa.email}}"
                                            class="form-control" value="{{this.pessoa.email}}" name="" id=""
                                            aria-describedby="emailHelpId" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Data de Nascimento</label>
                                        <input type="text" formControlName="dataNascimento"
                                            ngModel="{{this.pessoa.dataNascimento}}" [value]="this.pessoa.dataNascimento"
                                            class="form-control text-uppercase" name="" id="" aria-describedby="helpId"
                                            placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Telefone</label>
                                        <input type="text" formControlName="telefone" ngModel="{{this.pessoa.telefone}}"
                                            class="form-control" [value]="this.pessoa.telefone" name="" id=""
                                            aria-describedby="helpId" placeholder="">
                                    </div>
                                </form>
                            </div>
                            <div class="row justify-content-center align-items-end">
        
                                <button type="submit" class="btn btn-success mt-3 mr-3" *ngIf="this.mostrarEditar == true"
                                    (click)="this.editarUsuario()">Salvar Alteração</button>
                                <button class="btn btn-danger mt-3" *ngIf="this.mostrarEditar == true"
                                    (click)="this.mostrarEditar = !this.mostrarEditar">Fechar</button>
                            </div>
        
                        </div>
        
                    </div>
                    <div class="col-lg-4 ">
                        <div class="card text-left imagemPessoa">
                            <img class="card-img-top" src="../../assets/img/Screenshot_11.png" alt="">
                            <div class="card-body text-center">
                                <h4 class="card-title">Bem vindo ao seu Perfil</h4>
                                <p class="card-text text-uppercase badge badge-success">{{this.pessoa.nome}}</p><br>
                                <div class="row ">
                                    <div class="col-lg-6">
                                        <a routerLink="/dashboard">
                                            <span class=" btn btn-sm btn-warning btn-block">Página
                                                Principal</span>
                                        </a>
                                    </div>
        
                                    <div class="col-lg-6">
                                        <a href="">
                                            <span class="btn btn-sm btn-danger btn-block">Sair</span>
                                        </a>
                                    </div>
        
                                </div>
                            </div>
                        </div>
                    </div>
        
                </div>
                <div class="row mt-3 p-0 ">
                    <div class="col-lg-12 botoes">
                        <button class="btn btn-warning" (click)="mostrarMeusCursos = !this.mostrarMeusCursos">Meus
                            Cursos</button>
                        <button *ngIf="this.authService.eProfessor" class="btn btn-warning ml-2">Cursos Criados</button>
                    </div>
                </div>
        
                <div class="row mt-3 p-2" >
                    <div class=" justify-content-around">
                        <div class="row " *ngIf="this.mostrarMeusCursos">
                            <div *ngFor="let meusCursos of cursos">
                                <app-cursoPerfil [titulo]="meusCursos.nome" style="width: 150px;"></app-cursoPerfil>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        </div>
</body>
