/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

@font-face {
  font-family: "Archivo-bold";
  src: url(assets/fonts/Archivo-Bold.ttf);
}

@font-face {
  font-family: "Archivo";
  src: url(assets/fonts/Archivo-Regular.ttf);
}

html, body, #home {
  height: 100%;
  overflow-x: hidden;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
