html, body, #home {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}


body {
    align-content: center;
    font-family: "Archivo-bold", Arial, sans-serif;
    background-color: #333333;
}


.container-formulario{
    margin-top: 150px;
    background-color: #FFFFFF;
    padding: 50px;
    border-radius: 25px;
}

form a{
    text-decoration: none;
}

.botaoGrupo{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

/* barra de navegação */

nav.navbar-transparente {
    position: absolute;
    width: 1440px;
    height: 109px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar-light .navbar-nav .nav-link {
    color: #333333;
    font-family: "Archivo-bold";
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #0275D8;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .5);
    border-color: white;
}

.divisor {
    width: 1px;
    background: white;
    margin: 12px 15px;
}

/*Capa*/

/*// Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {}

/*// Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767.98px) {}

/*// Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991.98px) {}

/*// Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1199.98px) {}

/*// Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}