<app-nav-menu></app-nav-menu>
<div class="fundo"></div>


  <section id="conteudo" class="mb-5" >
    <div class="container">
      <div class="row justify-content-center">
        <div id="formulario" class="col-lg-5">
          <form>
            <div class="form-group">
              <label for="email" class="col-sm-4 control-label">Email:</label>
              <div class="col-lg-12 input">
                <input type="email" name="" id="email" class="form-control" value="" required="required" title="">
              </div>
              <label for="senha" class="col-sm-4 control-label">Senha:</label>
              <div class="col-lg-12 input">
                <input type="password" name="" id="senha" class="form-control" value="" required="required" title="">
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <button type="button" class="btn btn-block btn-success">Logar</button>
              </div>
            </div>

            <div class="row m-5">
              <div class="col-lg-12 text-center">
                <span id="esqueceuSenha" class="text-center">Esqueceu sua senha?</span>
                <button type="button" class="btn btn-block btn-danger">Recuperar Senha</button>
              </div>

            </div>

          </form>

        </div>
      </div>
    </div>
  </section>

<footer class="footer p-3">
  <span><strong>&copy;MaisAprendizados</strong></span>
</footer>