<app-nav-dashboard></app-nav-dashboard>
<div id="conteudo" class="grid">
  <section id="barraVertical">
    <div class="container-fluid">
      <!-- Corpo -->
      <ul class="nav flex-column">
        <li class="nav-item">
          <a routerLink="/dashboard" class="nav-link active">
            <img class="img-fluid mr-3" src="../../assets/img/icons8-home-64.png" width="25"> Página Inicial
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/loja" class="nav-link" routerLinkActive="active">
            <span class="material-icons mr-3">
              shopping_cart
            </span> Loja
          </a>
        </li>
        <li *ngIf="this.authService.eProfessor">
          <a routerLink="/criarCurso" class=" nav-link">
            <img class="img-fluid mr-3" src="../../assets/img/icons8-plus-64.png" width="25">
            Criar Cursos
          </a>
        </li>
        <li *ngIf="this.authService.eProfessor == false">
          <a routerLink="/historicoCompra" class=" nav-link">
            <img class="img-fluid mr-3" src="../../assets/img/icons8-plus-64.png" width="25">
            Histórico de Compras
          </a>
        </li>
      </ul>
    </div>
  </section>

  <div id="conteudoCurso" class="p-5"  >
    <div class="row justify-content-center">
      <div class="col-lg-11 text-start">
        <div class="form-group">
          <div class="input-group-prepend">
            <input type="text" [(ngModel)]="nomeCurso" name="curso" class="form-control text-uppercase"
              placeholder="Procurar cursos por nome">
            <div>
            </div>
            <button (click)="buscarCurso(nomeCurso)" class="btn btn-success">BUSCAR</button>
          </div>
        </div>

      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-2">
        <button (click)="listarMenor()"  class="btn btn-sm btn-primary">Listar por Maior Preço</button>
      </div>
      <div class="col-2">
        <button (click)="listarMaior()" class="btn btn-sm btn-primary">Listar por Menor Preço</button>
      </div>
      
      
    </div>

    <div class="row m-4">
      <h3>Cursos Disponíveis</h3>
    </div>
    
    <div class="row d-flex justify-content-start" *ngIf="cursos"  style="margin-left: 30px;">
      <div *ngFor="let curso of cursos">
        
  <div class="card text-center p-1 m-1 shadow">
    <img class="card-img-top" src="../../assets//img/download (3).png" width="15"  alt="Imagem de capa do card">
    <div class="card-body justify-content-center">
      <h4 class="card-title">{{curso.nome}}</h4>
      <p class="card-text">R$ {{curso.preco}}</p>
      <button (click)="adicionarCarrinho(curso)" class="btn  btn-warning">Adicionar ao Carrinho<span class="material-icons ml-2 justify-content-center">
          add_shopping_cart
        </span></button><br>
      <button class="btn mt-2 btn-block btn-success d-flex justify-content-center" (click)="comprarCurso(curso)" routerLink="/finalizaCompra">Comprar Curso &nbsp;&nbsp;&nbsp;
        <span class="material-icons">
          shopping_cart
        </span></button>
    </div>
  </div>
      </div>
    </div>

  </div>