<form [formGroup]="formulario" (ngSubmit)="editarCurso()">
    <div class="row d-flex justify-content-center mt-3">
        <div class="form-group text-center">
            <label for="nomeCurso">Nome do Curso</label>
            <input type="email" formControlName="nome"  class="form-control" id="nomeCurso" aria-describedby="nomeCurso"
                placeholder="Digite o nome do curso">
        </div>
    </div>
    <div class="row d-flex justify-content-around p-3" >
        <div class="form-group">
            <label for="precoCurso">Preço</label>
            <input type="number" formControlName="preco" class="form-control" id="precoCurso" aria-describedby="precoCurso"
                placeholder="Valor do Curso">
        </div>
        <div class="form-group">
            <label for="cargaHoraria">Carga Horária</label>
            <input type="number" formControlName="cargaHoraria"  class="form-control" id="cargaHoraria" aria-describedby="cargaHoraria"
                placeholder="Duração do Curso">
        </div>
       
    </div>

<button mat-button [mat-dialog-close]>Cancelar</button><img src="../../assets/img/icons8-cancel-64.png" width="45">
<button type="submit" [mat-dialog-close] >Salvar</button><img src="../../assets/img/icons8-save-64.png" width="45">
</form>
