
  <div class="card text-center p-2 m-2 shadow">
    <img class="card-img-top" src="../../assets//img/download (3).png" width="25" alt="Imagem de capa do card">
    <div class="card-body justify-content-center">
      <h4 class="card-title"></h4>
      <p class="card-text">{{this.lojaService.Cursos.indexOf(1)}}</p>
      <button class="btn  btn-warning">Adicionar ao Carrinho<span class="material-icons ml-2 justify-content-center">
          add_shopping_cart
        </span></button><br>
      <button class="btn mt-2 btn-block btn-success d-flex justify-content-center">Comprar Curso &nbsp;&nbsp;&nbsp;
        <span class="material-icons">
          shopping_cart
        </span></button>
    </div>
  </div>