<app-nav-dashboard></app-nav-dashboard>
<div id="conteudo" class="grid">
  <section id="barraVertical">
    <div class="container-fluid">
      <!-- Corpo -->
      <ul class="nav flex-column">
        <li class="nav-item">
          <a routerLink="/dasbhoard" class="nav-link active">
            <img class="img-fluid mr-3" src="../../assets/img/icons8-home-64.png" width="25"> Página Inicial
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/loja" class="nav-link" routerLinkActive="active">
            <span class="material-icons mr-3">
              shopping_cart
            </span> Loja
          </a>
        </li>
        <li *ngIf="this.authService.eProfessor">
          <a routerLink="/criarCurso" class=" nav-link">
            <img class="img-fluid mr-3" src="../../assets/img/icons8-plus-64.png" width="25">
            Criar Cursos
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section id="conteudoCurso">
    <div class="container-fluid">
      <!-- Corpo -->

      <div class="row d-flex justify-content-between p-3">
        <h3>Meus Cursos <span class="badge badge-info">{{this.cursos.length}}</span></h3>
        <button class="btn btn-success">Ver +</button>
      </div>
      <div class="row text-center align-items-center" *ngIf="cursos.length <= 0">
        <div class="col">
          <h4>Você ainda não possui nenhum curso</h4>
        </div>
      </div>
      <div class="row d-flex justify-content-start mt-3">
        <div *ngFor="let k of cursos" class="p-2 ml-2">
          <div class="card p-3" style="width: 150px;">
            <img class="card-img-top" src="../../assets/img/download (3).png" width="50" alt="Imagem de capa do card">
            <div class="card-body">
              <p class="card-text text-center" style="font-size: 10px;">{{k.nome}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="cursoDisponivel">
    <div class="container-fluid">
      <!-- Corpo -->
      <div class="row d-flex justify-content-between p-3">
        <h3>Cursos Disponíveis <span class="badge badge-info">{{this.cursosDisponiveis.length}}</span></h3>
        <button class="btn btn-success" routerLink="/loja">Ver +</button>
      </div>
      <div class="row d-flex justify-content-start mt-3">
        <div *ngFor="let k of cursosDisponiveis.slice(0,5)" class="p-2 ml-2">
          <div class="card p-3" style="width: 150px;">
            <img class="card-img-top" src="../../assets/img/download (3).png" width="50" alt="Imagem de capa do card">
            <div class="card-body">
              <p class="card-text text-center" style="font-size: 10px;">{{k.nome}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>