<body>
 <app-nav-menu></app-nav-menu>
  <app-nav-menu></app-nav-menu>
    <section id="home" class="d-flex">

      <div class="container align-self-center">

          <div class="row">
              <div class="col-md-12  capa">
                  <div id="carousel-spotify" class="carousel slide" data-ride="carousel">
                      <div class="carousel-item active">
                          <h2 class="">
                              Venha dar um upgrade no seu conhecimento.
                              Faça parte do nosso time
                          </h2>

                          <a routerLink="cadastro" class="btn btn-lg btn-custom btn-success">Começar os estudos</a><br>
                          <label style="color: white;">Ainda não possui uma conta?</label>


                      </div>
                      

                  </div>

                  <a href="#carousel-spotify" class="carousel-control-prev" data-slide="prev">
                      <i class="fas fa-angle-left fa-3x"></i>
                  </a>
                  <a href="#carousel-spotify" class="carousel-control-next" data-slide="next">
                      <i class="fas fa-angle-right fa-3x"></i>
                  </a>

              </div>
          </div>

      </div>


  </section>

  <section id="servicos">

      <div class="container">

          <div class="row">
              <div class="col-md-6">

                  <div class="row albuns">

                      <div class="col-md-12">
                          <img src="../../assets/img/jovem-bonito-com-laptop-e-verificar-seu-calendario-em-branco_146671-15550.jpg"
                               class="img-fluid ">
                      </div>

                  </div>




              </div>
              <div class="col-md-6">

                  <h2 class="text-center"><img src="../../assets/img/logo2.png " width="247"></h2>

                  <h3 class="text-center" style="color: #0275D8;">O que somos?</h3>
                  <p>
                      Somos uma plataforma totalmente inovadora para disponibilizar
                      aos nossos alunos um ensino virtual de qualidade e com muitas
                      variedades de cursos e aulas.
                  </p>



              </div>


          </div>

      </div>


  </section>


  <section id="recursos">

      <div class="container">

          <div class="row">

              <div class="col-md-6 align-middle">

                  <h3 class="text-center" style="color: #0275D8; margin-bottom: 50px;">Alunos e Professores</h3>
                  <p>
                      Aqui voce poderá encontrar cursos como também poderia criar seus proprios contéudos para
                      lecionar com um preço acessível a todos.
                  </p>

              </div>
              <div class="col-md-6 d-none d-md-block">

                  <div class="row ">

                      <div class="col-md-12">
                          <img src="../../assets/img/professor-usando-um-laptop_107420-32220.jpg" width="600" class="img-fluid">
                      </div>

                  </div>

              </div>

          </div>


      </div>


  </section>

  <app-footer></app-footer>
</body>