@font-face {
    font-family: "Archivo-bold";
    src: url(../assets/fonts/Archivo-Bold.ttf);
  }
  
  @font-face {
    font-family: "Archivo";
    src: url(../assets/fonts/Archivo-Regular.ttf);
  }
  