<header>
  <!-- Inicio Cabeçalho -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background:#FFFFFF;">
    <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="../../assets/img/logo2.png"
        width="247"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
      aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse justify-content-end" id="conteudoNavbarSuportado">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#home" routerLinkActive="active">
            HOME <span class="sr-only">
              (Página
              atual)
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#servicos" routerLinkActive="active">SOBRE</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a class="nav-item nav-link" routerLink="login" style="color: #333333;">
          <img src="../../assets/img/8-512.png" width="50">LOGIN |
        </a>

        <div class="text-center">
          <a routerLink="/cadastro"><button class="btn btn-outline-danger my-2 my-sm-0">CADASTRAR</button></a>

        </div>
      </form>
    </div>
  </nav>




</header> <!-- Fim Cabeçalho -->