<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img src="img/logo2.png" width="100">
      </div>
      <div class="col-md-2">
        <h4>company</h4>
        <ul class="navbar-nav">
          <li>
            <a href="">HOME</a>
          </li>
          <li>
            <a href="">SOBRE</a>
          </li>
          <li>
            <a href="">CURSOS</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li>
            <a href="">
              <img src="img/download.png" width="50">
            </a>
          </li>
          <li>
            <a href="">
              <img src="img/download.jpg" width="50">
            </a>
          </li>
        </ul>
      </div>

    </div>

  </div>

</footer>